//COLOR
$white-color: #ffff;
$orange-color: #ff6f00;
$pale-blue-color: #243349;
$deep-blue-color: #1d2a3d;

//FONT SIZE
$font-med: 1.125rem; //18px
$font-sm: 0.875rem; //14px
$font-large: 3.75rem; //60px
